/* Items throughout */
:root {
    --primary: rgb(38, 187, 187)
}

* {
    box-sizing: border-box;
}

p, a {
    font-family: sans-serif;
}

/* Header Section */
header {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    flex: 1;
    color: white;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 26pt;
}

nav {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    list-style: none;
}

/* BANNER IMAGE + COPY */
.banner {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    background-image: url("./images/mountain-portfolio-banner.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}  

/* Main Content Section (About Me, Work, Contact) */
main {
    margin-right: 20px;
    margin-left: 20px; 
} 

h2 {
    color: var(--primary);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border-bottom: solid black 2px;
    font-size: 22pt;
}

/* ABOUT ME SECTION */
#profile-image {
    border-radius: 2px;
    border: solid black 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.about-me {
    display: flex;
}

.work-item-1 {
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}

.work-item-1 img {
    flex: 1;
    max-width: 100%;
    border: solid 5px;
    border-color: var(--primary);
}

.work-item-1 p {
    flex: 1;
    background-color: var(--primary);
    color: white;
    padding: 5px;
    margin-top: -6px;
    width: 180px;
    position: relative;
    text-align: center;
}

.work-item-1 p::first-line {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

/* main container for upcoming work */ 
.upcoming-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.coming-soon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.coming-soon img {
    flex: 1;
    max-width: 100%;
    border: solid 5px;
    border-color: var(--primary);
}

.coming-soon p {
    background-color: var(--primary);
    color: white;
    padding: 5px;
    margin-top: -5px;
    width: 180px;
    text-align: center;
}

.coming-soon p::first-line {
    text-decoration: underline;
    font-weight: bold;
    font-size: large;
}

/* CONTACT SECTION */

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.link-container {
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
}

.contact-links {
    text-decoration: none;
    color: var(--primary);
    width: 100%;
    flex: 0;
    border-bottom: solid 2px;
    border-color: var(--primary);
}

/* FOOTER SECTION */
footer {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    margin: 6px;
    text-align: center;
}

/* MAYBE MAKE IT RESPONSIVE AT 721px SINCE THAT IS JUST BEFORE THE COMING SOON BOXES TOUCH. THEN WE CAN MAKE IT A COLUMN } */
@media screen and (max-width:992px){
}
@media screen and (max-width:721px){
	.upcoming-work {
		flex-direction: column;
	}

    .contact {
        flex-direction: column;
        align-items: center;
    }
}