/* my big questions
• How do I make it so that 1) the items in "work" wrap down to the next row and 2) make it so that the first item is on a line by itself?
• How do I adjust the background image for all of the work items so that they have a set size?
• How do I change the <p> in each of the work items to be in a smaller box and aligned at the bottom right of the image?
• How do I sapce out the contact links evenly?
• How do I set it for proper site responsiveness as mentioned in the grading criteria?
*/

/* Items throughout */
:root {
    --primary: rgb(38, 187, 187)
}

* {
    box-sizing: border-box;
}

/* Header Section */
header {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    flex: 1;
    color: white;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 26pt;
}

nav {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    list-style: none;
}

/* BANNER IMAGE + COPY */
.banner {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    background-image: url("./images/mountain-portfolio-banner.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}  

.subheading {
    background-color: var(--primary);
    color: white;
    padding: 15px;
    margin-bottom: 0;
}

/* Main Content Section (About Me, Work, Contact) */
h2 {
    color: var(--primary);
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    border-bottom: solid black 2px;
    margin-left: 100px;
    margin-right: 100px;
    /* color: var(--primary);
    margin-left: 15px;
    margin-right: 15px;
    border-right: solid black 2px;
    padding-right: 25px;
    flex: 0 0 18%;
    text-align: right;
    font-family: 'Bebas Neue', cursive; */
}

/* ABOUT ME SECTION */
#profile-image {
    border-radius: 2px;
    border: solid black 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about-me {
    display: flex;
}

/* WORK SECTION */
/* main container for finished work */ 
.finished-work {
    display: flex;
    flex-wrap: wrap;
}

.work-item-1 {
    background: url(./images/challenge-1-screen-\ horiseon-final-page.png) no-repeat;
    flex: 1;
    margin: 5px;
    height: 50vh;
    background-size: 100%;
}

.work-item-1 p {
    background-color: var(--primary);
    color: white;
    padding: 5px;
    margin-bottom: 0;
    width: 180px;
}

/* main container for upcoming work */ 
.upcoming-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}

.coming-soon {
    background: url(./images/coming-soon.png) no-repeat;
    background-size: 100%;
    flex: 1;
    margin: 5px;
    height: 25vh;
}

.coming-soon p {
    background-color: var(--primary);
    color: white;
    padding: 5px;
    margin-bottom: 0;
    width: 180px;
}

/* CONTACT SECTION */
.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-links {
    flex: 1;
    text-decoration: none;
    color: var(--primary);
}

/* FOOTER SECTION */
footer {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    margin: 6px;
}

/* @media screen and (max-width:992px){
}
@media screen and (max-width:768px){
	.work-item-1 .work-item-2 .work-item-3 {
		flex-direction: column;
		align-items: center;
	}
} */