/* my big questions
• How do I make it so that 1) the items in "work" wrap down to the next row and 2) make it so that the first item is on a line by itself?
• How do I adjust the background image for all of the work items so that they have a set size?
• How do I change the <p> in each of the work items to be in a smaller box and aligned at the bottom right of the image?
• How do I sapce out the contact links evenly?
• How do I set it for proper site responsiveness as mentioned in the grading criteria?
*/

/* Items throughout */
:root {
    --primary: rgb(38, 187, 187)
}

* {
    box-sizing: border-box;
}

/* Header Section */
header {
    background-color: var(--primary);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

h1 {
    flex: 1;
    color: white;
    margin-left: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 26pt;
}

nav {
    display: inline-flex;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    list-style: none;
}

/* Banner section */
.banner {
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
    background-image: url("./images/mountain-portfolio-banner.jpg");
    background-size: cover;
    background-position: center;
    border: 2px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}  

.subheading {
    background-color: var(--primary);
    color: white;
    padding: 15px;
    margin-bottom: 0;
}

/* Main Content Section (About Me, Work, Contact) */
h2 {
    color: var(--primary);
    margin-left: 15px;
    margin-right: 15px;
    border-right: solid black 2px;
    padding-right: 25px;
    flex: 0 0 18%;
    text-align: right;
}

/* About Me Section */
.about-me {
    display: flex;
}

/* Work Section */
/* main container */ 
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* flex items */
.work-item-1 {
    background: url(./images/challenge-1-screen-\ horiseon-final-page.png) no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    vertical-align: bottom;
    flex: 1;
    margin: 5px;
    height: 40vh;
}

.work-item-1 p {
    background-color: var(--primary);
    color: white;
    padding: 5px;
    margin-bottom: 0;
}

.work-item-2 {
    background: url(./images/coming-soon.png) no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    vertical-align: bottom;
    flex: 1;
    margin: 5px;
    height: 40vh;
}

.work-item-3 {
    background: url(./images/coming-soon.png) no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
    vertical-align: bottom;
    flex: 1;
    margin: 5px;
    height: 40vh;
}

/* Contact Section */
.contact {
    display: flex;
    align-items: center;
}

.contact-link {
    justify-content: space-between;
}

/* Footer Section */
footer {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 30pt;
    margin: 6px;
}

